<style>


</style>


<div class="container">
    <form>
        <div class="form-row col-md-4">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="" placeholder="Title">
        </div>
        <div class="form-row col-md-8">
            <label for="inputDescription">Description</label>
            <textarea type="text" class="form-control inputBox" rows="3" id="" placeholder="Description"></textarea>
        </div>
        <div class="form-row col-md-4">
            <label for="inputImage">Image</label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="form-row col-md-4">
            <label for="inputState">Tag</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Tech</option>
                <option>Nature</option>
                <option>Creative</option>
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
