@model Fishbait2.Models.PostViewModel
@{
    ViewData["Title"] = "EditPost";
}

<div class="container">
    <form asp-action="EditPostChange" enctype="multipart/form-data">
        <div class="form-row col-md-4">
            <input type="hidden" asp-for="id" />
            <label for="inputTitle">Title</label>
            <input asp-for="title" type="text" class="form-control" id="" placeholder="Title">
            <span asp-validation-for="title" class="text-danger"></span>
        </div>
        <div class="form-row col-md-8">
            <label for="inputDescription">Description</label>
            <textarea asp-for="description" type="text" class="form-control inputBox" rows="3" id="exampleFormControlTextarea1" placeholder="Description"></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="form-row col-md-4">
            <label for="inputImage">Image</label>
            <input asp-for="image" type="text" class="form-control" id="">
            <span asp-validation-for="image" class="text-danger"></span>
            <input asp-for="files" type="file" name="files" multiple />
            <span asp-validation-for="files" class="text-danger"></span>
        </div>
        <div class="form-row col-md-4">
                <label for="inputTag">Tag</label>
                <select asp-for="tags" asp-items="@Html.GetEnumSelectList<Tags>()" class="form-control"></select>
                <span asp-validation-for="tags" class="text-danger"></span>
            </div>
        <br />
        <div class="form-row col-md-4">
            <button type="submit" class="btn btn-primary">Edit Post</button>
        </div>
    </form>
</div>
