@model Fishbait2.Models.PostUpdateViewModel;

<div class="container">
    <form asp-action="CreateUpdatePost" enctype="multipart/form-data">
        @if (Model.validated == true)
        {
        <div asp-validation-summary="All" class="text-danger"></div>
        }
        <div class="form-row col-md-4">
            <input type="hidden" asp-for="postID" />
            <label for="inputTitle">Title</label>
            <input asp-for="title" type="text" class="form-control" id="" placeholder="Title">

        </div>
        <div class="form-row col-md-8">
            <label for="inputDescription">Description</label>
            <textarea asp-for="description" type="text" class="form-control inputBox" rows="3" id="exampleFormControlTextarea1" placeholder="Description"></textarea>

        </div>
        <div class="form-row col-md-4">
            <label for="inputImage">Image</label>
            <input asp-for="files" type="file" name="files" multiple />

        </div>
        <br />
        <div class="form-row col-md-4">
            <button type="submit" class="btn btn-primary">Update Post</button>
        </div>
    </form>
</div>
