@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home";
}
<style>
    .postBox {
        height: 250px;
    }

    .postBoxText {
        line-height: 25px;
        word-wrap: break-word;
    }
    .postBoxImage {
        max-height: 250px;
        max-width: 250px;
    }
    .postBoxImageContainer {
        text-align: center;
    }
</style>
@foreach (var item in Model)
{
    <div class="container">
            <div class="row justify-content-md-center postBox">
                <div class="col-3 bg-primary text-white postBoxImageContainer">
                    <img src="~/PostImages/@item.image" alt="image" class="postBoxImage">
                </div>
                <div class="col-7 bg-secondary text-white">
                    <div class="postBoxText">
                        <b>@item.title</b>
                        <br />
                           @item.description

                    </div>
                </div>
                <div class="col-2 bg-success text-white text-center">
                    <a href='@string.Format("/post/ViewPost?id={0}", item.id)' class="btn btn-primary stretched-link">View Post</a>
                </div>
            </div>
    </div>
}
