@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}


@foreach (var item in Model.Posts)
{
    <div class="container">
            <div class="row justify-content-md-center postBox">
                <div class="col-3 bg-primary text-white postBoxImageContainer">
                    <img src="~/PostImages/@item.image" alt="image" class="postBoxImage">
                </div>
                <div class="col-7 bg-secondary text-white">
                    <div class="postBoxText">
                        <b>@item.title</b>
                        <br />
                           @item.description

                    </div>
                </div>
                <div class="col-2 bg-success text-white text-center">
                    <a href='@string.Format("/post/GoToPost?id={0}", item.id)' class="btn btn-primary stretched-link">View Post</a>
                </div>
            </div>
    </div>
}
