body {
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.postBox {
    height: 250px;
}

.postBoxText {
    line-height: 25px;
    word-wrap: break-word;
}

.postBoxImage {
    max-height: 250px;
    max-width: 250px;
}

.postBoxImageContainer {
    text-align: center;
}
.textarea {
    resize: none;
}
.postBoxViewPost {
    height: 250px;
}
.postBoxImageViewPost {
    max-height: 250px;
    max-width: 250px;
}

.postBoxImageContainerViewPost {
    text-align: left;
}
